@use "../../utils/styles/variables" as _variables;
@use "../../utils/styles/mixins" as _mixin;

.green {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 38%;
    margin: 0;
    background-attachment: scroll, scroll, fixed;
    background-color: _variables.$color-participation;
    background-image: url(../../assets/images/contours.png), url(../../assets/images/gridlines.png), url(../../assets/images/gridlines.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;

    a {
        color: _variables.$color-links;
        text-decoration: none;
    }

    &:hover {
        color: _variables.$color-hover-links;
        text-decoration: underline;
    }
 }

 
 @media only screen and (max-width: 600px) {

    .green {
        @include _mixin.introGreenParticipation();
    }
 }

 @media only screen and (min-width: 600px) and (max-width: 1150px) {
    .green {
        @include _mixin.introGreenParticipationBig();
    }
}
