.verde {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 38%;
    margin: 0;
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
    background-image: url(../../assets/images/contours.png), url(../../assets/images/gridlines.png), url(../../assets/images/gridlines.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;

    a {
        color:#1a9c96;
        text-decoration: none;
    }

    &:hover {
        color:#0d8ba1;
        text-decoration: underline;
    }
 }

 

