//Colors
$color-background:#134347;
$color-hover:#edf5f5;
$color-font:rgba(255, 255, 255, 0.784);
$color-icon:#b6bebe;
$color-template:#3e5d67;
$color-links:#1a9c96;
$color-aText: #607476;
$color-view:rgba(246, 246, 246, 0.229);
$color-hover-links:#0d8ba1;
$color-intro:#809b7e;
$color-container:#2d6360;
$color-participation:rgba(138,188,159,0.5);

//Fonts

$font-times:"Times New Roman", Times, serif;
$font-julius:"Julius Sans One", sans-serif;
