@use "../../utils/styles/variables" as _variables;
@use "../../utils/styles/mixins" as _mixin;

.require {
    width: 100%;
    padding-left: 10%;
    padding-right: 38%;
    padding-bottom: 50px;
    margin: 0;

    a {
        color: _variables.$color-links;
        text-decoration: none;

        &:hover {
            color: _variables.$color-hover-links;
            text-decoration: underline;
        }
    }
}

@media only screen and (max-width: 600px) {
    .require {
        @include _mixin.introGreenParticipation();
    }
}

@media only screen and (min-width: 600px) and (max-width: 1150px) {
    .require {
        @include _mixin.introGreenParticipationBig();
    }
}
