.require {         
    width: 100%;
    padding-left: 10%;
    padding-right: 38%;
    padding-bottom: 50px;
    margin: 0;

    a{
        color:#1a9c96;
        text-decoration: none;

        &:hover{
            color:#0d8ba1;
            text-decoration: underline;
        }
     } 
}

 

 