@use "../../utils/styles/variables" as _variables;

.sidebar {
    background: _variables.$color-hover;

    h3 {
        display: none;
    }

    a {
        color: _variables.$color-aText;
        text-decoration: none;

        &:hover {
            color: _variables.$color-links;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        float: none;
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

.design {
    position: absolute;
    top: 360px;
    right: 0;
    width: 33.3%;
    padding: 0 0 20px 0;
    margin: 0;
    overflow: visible;
    background: transparent;

    .designerName {
        color: _variables.$color-intro;
        font-size: 0.8em;
        font-style: normal;
        font-family: "Libre Baskerville", serif;
    }
}

.design,
.extras {
    ul {
        margin: 0;
    }

    li {
        width: 100%;
        padding: 0.5em 10%;
        border-top: solid 1px #d9e3dc;
        color: _variables.$color-icon;

        &:nth-child(2n + 1) {
            clear: left;
        }
    }
}

.design,
.extras a,
li.viewall a {
    display: block;
    margin-bottom: 0.25em;
    font-family: _variables.$font-julius;
    font-size: 1.2em;
    font-style: normal;
}

/* barrita de navegacion */

.viewAllDesings {
    position: absolute;
    top: 150px;
    right: 0;
    width: 26%;
    height: 70px;
    margin-right: 10px;
    background: _variables.$color-view;

    a,
    a:visited {
        color: _variables.$color-font;

        &::before {
            position: absolute;
            top: 11px;
            left: 0;
            width: 50px;
            text-align: center;
            text-indent: 0;
            font-size: 38px;
        }
    }

    h3 {
        display: none;
    }

    ul {
        margin: 0;
    }

    li {
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        border: none;
        list-style: none;

        .viewall {
            top: 0;
            left: 0;
            padding: 0 45px;
            line-height: 50px;
        }
    }
}

.next {
    left: auto;
    right: 0;

    a {
        display: block;
        overflow: hidden;
        width: 70px;
        height: 70px;
        text-indent: 100%;
        text-decoration: none;
        white-space: nowrap;
    }
}

.viewAllDesings,
.viewall a {
    z-index: 2;
    min-height: 60px;
    padding: 25px 0 0 10px;
    text-align: center;
}

.viewAllDesings .next a::before {
    content: ">";
}

/* extra */

.extras {
    position: absolute;
    top: 1400px;
    right: 0;
    width: 35%;
    background: transparent;

    h3 {
        display: none;
    }

    ul {
        width: 55.9%;
        margin: 0 29.4% 0 14.7%;
    }

    li {
        padding: 1.5em 0 1.25em 0;
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    .design {
        position: relative;
        top: 0;
        font-size: 1em;
        width: 100%;

        li:nth-child(2n + 1) {
            float: left;
        }

        li.viewall {
            top: 0;
            left: 0;
            width: 100%;
            padding: 0 71px;
            line-height: 50px;
        }
    }

    .design,
    .extras li {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 10px;
        text-align: center;
        line-height: 1.2em;
    }

    .viewAllDesings {
        position: absolute;
        top: 185px;
        right: auto;
        width: 100%;
        height: 65px;
        background: _variables.$color-view;

        li.viewall {
            width: 100%;
            padding: 0 80px;
        }
    }

    .extras {
        position: relative;
        top: 0;
        width: 100%;
        border-top: solid 1px #a0b9ad;
        text-transform: uppercase;
        background-color: _variables.$color-participation;
        background-image: url(../../assets/images/contours.png), url(../../assets/images/gridlines.png),
            url(../../assets/images/bamboo.png);
        background-repeat: repeat, repeat, no-repeat;
        background-size: auto, auto, cover;

        a {
            font-size: 0.9em;
            margin: 0;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin: 0;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 1150px) {
    .design {
        position: relative;
        top: 0;
        font-size: 0.9em;
        width: 100%;

        li:nth-child(2n + 1) {
            float: left;
        }

        li.viewall {
            top: 0;
            left: 0;
            width: 100%;
            padding: 0 71px;
            line-height: 50px;
        }
    }

    .design,
    .extras li {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 10px;
        text-align: center;
        line-height: 1.2em;
    }

    .viewAllDesings {
        position: absolute;
        top: 213px;
        right: auto;
        width: 100%;
        background: _variables.$color-view;

        .viewall a {
            padding: 10px;
            text-align: center;
        }

        li.viewall {
            width: 85%;
            padding: 12px 0 0 100px;
        }
    }

    .extras {
        position: relative;
        top: 0;
        width: 100%;
        border-top: solid 1px #a0b9ad;
        text-transform: uppercase;
        background-color: _variables.$color-participation;
        background-image: url(../../assets/images/contours.png), url(../../assets/images/gridlines.png),
            url(../../assets/images/bamboo.png);
        background-repeat: repeat, repeat, no-repeat;
        background-size: auto, auto, cover;

        a {
            font-size: 0.9em;
            margin: 0;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin: 0;
        }
    }
}
