@use "../../utils/styles/variables" as _variables;

footer {
    clear: both;
    padding: 3em 10%;
    color: _variables.$color-font;
    background: _variables.$color-background;
    text-align: center;

    .icon {
        margin-left: 20px;
        font-size: 70px;
        line-height: 60px;
        padding-left: 20px;

        a {
            margin-left: 80px;
            color: _variables.$color-hover;
            text-decoration: none;
            align-items: center;

            &:hover {
                color: _variables.$color-hover;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    footer {
        padding: 10px;

        .icon {
            font-size: 40px;
            line-height: 0;
            padding-left: 0;
            margin-left: 0;

            a {
                margin: auto;
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 1150px) {
    footer {
        padding: 10px;

        .icon {
            font-size: 50px;
            line-height: 0;
            padding-left: 0;
            margin-left: 0;

            a {
                margin: auto;
            }
        }
    }
}
