* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

p {
    margin: 0.75em 0;
}

h3 {
    margin: 1em 0 0 0;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    text-transform: uppercase;
 }
